<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
    <div class="card p-3 mb-2 bg-light">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
                <div class="icon">
                    <img class="invert" src="{{ triumph.icon }}" width="50px">
                </div>
                <div class=" ms-2 c-details">
                    <h6 class="mb-0 ml-1">{{ triumph.challengeName }}</h6>
                </div>
            </div>
            <!--
            {% if triumph.getComplete() %}
            <div class="badge">
                <span>Done</span>
            </div>
            {% endif %}
            -->
        </div>
        <div class="mt-4">

            <h6 class="heading">{{ triumph.challengeDescription }}</h6>
            <div class="mt-4">

                {% for objective in triumph.objectives %}

                <div class="progress bg-dark mt-1">
                    <div class="progress-bar" role="progressbar" style="width: {{objective.getCompletionString()}}%;" aria-valuenow=" {{ objective.getProgressValue() }}" aria-valuemin="0" aria-valuemax="{{ objective.completionValue }}">
                        &nbsp;
                        {{ objective.getProgressValue() }} of {{ objective.completionValue }} {{ objective.progressDescription }}
                        &nbsp;
                    </div>
                </div>


                {% endfor %}

                <!-- The above shows an error because of some python sillyness going on, ignore it -->
            </div>
        </div>
    </div>
</div>
